<ion-view view-title="HADITS Ke-12">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Meninggalkan Yang Tidak Bermanfaat</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
	 <p class="arab" align="center"> عَنْ أَبِي هُرَيْرَةَ رَضِيَ اللهُ عَنْهُ قَالَ : قَالَ رَسُوْلُ اللهِ صلى الله عليه وسلم: مِنْ حُسْنِ إِسْلاَمِ الْمَرْءِ تَرْكُهُ مَا لاَ يَعْنِيْهِ

[حديث حسن رواه الترمذي وغيره هكذا]</p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
	 <p align="justify">Dari Abu Hurairah radhiallahunhu dia berkata : Rasulullah Shallallahu’alaihi wasallam bersabda : Merupakan tanda baiknya Islam seseorang, dia meninggalkan sesuatu yang tidak berguna baginya .
(Hadits Hasan riwayat Turmuzi dan lainnya)</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
	 <p align="justify">1.
Termasuk  sifat-sifat  orang  muslim  adalah  dia 
menyibukkan dirinya dengan perkara-perkara yang 
mulia  serta  menjauhkan  perkara  yang  hina  dan 
rendah.  <br><br>
2.
Pendidikan  bagi  diri  dan  perawatannya  dengan 
meninggalkan  apa  yang  tidak  bermanfaat  di 
dalamnya.  <br><br>
3.
Menyibukkkan  diri  dengan  sesuatu  yang  tidak 
bermanfaat  adalah  kesia-siaan  dan  merupakan 
pertanda kelemahan iman. <br><br> 
4.
Anjuran  untuk  memanfaatkan  waktu  dengan 
sesuatu  yang  manfaatnya  kembali  kepada  diri 
sendiri bagi dunia maupun akhirat.  <br><br>
5.
Ikut  campur  terhadap  sesuatu  yang  bukan 
urusannya    dapat    mengakibatkan    kepada 
perpecahan dan pertikaian di antara manusia.  </p>

  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>