<ion-view view-title="HADITS Ke-10">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Memakan Rizki yang halal</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center"> عَنْ أَبِي هُرَيْرَةَ رَضِيَ اللهُ عَنْهُ قَالَ : قَالَ رَسُوْلُ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ : إِنَّ اللهَ تَعَالَى طَيِّبٌ لاَ يَقْبَلُ إِلاَّ طَيِّباً، وَإِنَّ اللهَ أَمَرَ الْمُؤْمِنِيْنَ بِمَا أَمَرَ بِهِ الْمُرْسَلِيْنَ فَقَالَ تَعَالَى : ,يَا أَيُّهَا الرُّسُلُ كُلُوا مِنَ الطَّيِّبَاتِ وَاعْمَلُوا صَالِحاً - وَقاَلَ تَعَالَى : , يَا أَيُّهَا الَّذِيْنَ آمَنُوا كُلُوا مِنْ طَيِّبَاتِ مَا رَزَقْنَاكُمْ - ثُمَّ ذَكَرَ الرَّجُلَ يُطِيْلُ السَّفَرَ أَشْعَثَ أَغْبَرَ يَمُدُّ يَدَيْهِ إِلَى السَّمَاءِ ياَ رَبِّ يَا رَبِّ وَمَطْعَمُهُ حَرَامٌ وَمَشْرَبُهُ حَرَامٌ وَمَلْبَسُهُ حَرَامٌ وَغُذِّيَ بِالْحَرَامِ فَأَنَّى يُسْتَجَابُ لَهُ .

[رواه مسلم] </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify">Dari Abu Hurairah radhiallahuanhu dia berkata : Rasulullah Shallallahu’alaihi wasallam bersabda : Sesungguhnya Allah ta’ala itu baik, tidak menerima kecuali yang baik. Dan sesungguhnya Allah memerintahkan orang beriman sebagaimana dia memerintahkan para rasul-Nya dengan firmannya : Wahai Para Rasul makanlah yang baik-baik dan beramal shalihlah. Dan Dia berfirman : Wahai orang-orang yang beriman makanlah yang baik-baik dari apa yang Kami rizkikan kepada kalian. Kemudian beliau menyebutkan ada seseorang melakukan perjalan jauh dalam keadaan kumal dan berdebu. Dia memanjatkan kedua tangannya ke langit seraya berkata : Yaa Robbku, Ya Robbku, padahal makanannya haram, minumannya haram, pakaiannya haram dan kebutuhannya dipenuhi dari sesuatu yang haram, maka (jika begitu keadaannya) bagaimana doanya akan dikabulkan.
(HR. Riwayat Muslim).</p>
	 
 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
	 
	<p align="justify"> 
	 1.
Dalam  hadits  di  atas  terdapat  pelajaran  akan 
sucinya  Allah  ta’ala  dari  segala  kekurangan  dan 
cela.  <br><br>
2.
Allah  ta’ala  tidak  menerima  kecuali  sesuatu  yang 
baik.  Maka  siapa  yang  bersedekah  dengan  barang 
haram tidak akan diterima. <br><br> 
3.
Sesuatu yang disebut baik adalah apa yang dinilai 
baik disisi Allah ta’ala. <br><br> 
4.
Berlarut-larut   dalam   perbuatan   haram   akan 
menghalangi seseorang dari terkabulnya doa. <br><br> 
5.
Orang  yang  maksiat  tidak  termasuk  mereka  yang 
dikabulkan  doanya  kecuali  mereka  yang  Allah 
kehendaki.  <br><br>
6.
Makan  barang  haram  dapat  merusak  amal  dan 
menjadi penghalang diterimanya amal perbuatan. <br><br> 
7.
Anjuran untuk berinfaq dari barang yang halal dan 
larangan untuk berinfaq dari sesuatu yang haram. <br><br> 
8.
Seorang hamba akan diberi ganjaran jika memakan 
sesuatu  yang  baik  dengan  maksud  agar  dirinya 
diberi kekuatan untuk ta’at kepada Allah.  <br><br>
9.
Doa  orang  yang  sedang  safar  dan  yang  hatinya 
sangat mengharap akan terkabul.  <br><br>
10.
Dalam  hadits  terdapat  sebagian  sebab-sebab 
dikabulkannya do’a: Perjalanan jauh, kondisi yang 
bersahaja  dalam  pakaian  dan  penampilan  dalam 
keadaan  kusut  dan  berdebu,  mengangkat  kedua 
tangan ke langit, meratap dalam berdoa, keinginan 
kuat  dalam  permintaan,  mengkonsumsi  makanan, 
	 minuman dan pakaian dengan sesuatu yang halal. </p>
	 

  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>