<ion-view view-title="HADITS Ke-22">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Melaksanakan Syariat Islam Dengan Sebenarnya</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  
  <p class="arab" align="center"> عَنْ أَبِي عَبْدِ اللهِ جَابِرْ بْنِ عَبْدِ اللهِ الأَنْصَارِي رَضِيَ اللهُ عَنْهُمَا : أَنَّ رَجُلاً سَأَلَ رَسُوْلَ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ فَقَالَ : أَرَأَيْتَ إِذَا صَلَّيْتُ اْلمَكْتُوْبَاتِ، وَصُمْتُ رَمَضَانَ، وَأَحْلَلْتُ الْحَلاَلَ، وَحَرَّمْت الْحَرَامَ، وَلَمْ أَزِدْ عَلَى ذَلِكَ شَيْئاً، أَأَدْخُلُ الْجَنَّةَ ؟ قَالَ : نَعَمْ

[رواه مسلم] </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify"> Dari Abu Abdullah, Jabir bin Abdullah Al Anshary radhiallahuanhuma : Seseorang bertanya kepada Rasulullah shollallohu ‘alaihi wa sallam, seraya berkata : Bagaimana pendapatmu jika saya melaksanakan shalat yang wajib, berpuasa Ramadhan, Menghalalkan yang halal dan mengharamkan yang haram*) dan saya tidak tambah sedikitpun, apakah saya akan masuk surga ?. Beliau bersabda : Ya.
(Riwayat Muslim)<hr>
*)Maksud mengharamkan yang haram adalah: menghindarinya dan maksud menghalalkan yang halal adalah: mengerjakannya dengan keyakinan akan kehalalannya </p>
  <p><b><font color="blue" size="4">Catatan:</font></b></p>
  <p>Seseorang  yang  bertanya  dalam  riwayat  diatas 
adalah: An Nu’man bin Qauqal</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
<p align="justify"> 1.
Setiap  muslim  dituntut  untuk  bertanya  kepada 
ulama tentang syariat Islam, tentang kewajibannya 
dan apa yang dihalalkan dan diharamkan baginya 
jika hal tersebut tidak diketahuinya. <br><br> 
2.
Penghalalan  dan  pengharaman  merupan  aturan 
syariat,  tidak  ada  yang  berhak  menentukannya 
kecuali Allah ta’ala.  <br><br>
3.
Amal saleh merupakan sebab masuknya seseorang 
ke dalam syurga.<br><br>  
4.
Keinginan  dan  perhatian  yang  besar  dari  para 
shahabat serta kerinduan mereka terhadap syurga 
serta  upaya  mereka  dalam  mencari  jalan  untuk 
sampai ke sana.  </p>
  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>