<ion-view view-title="HADITS Ke-5">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Amalan Bid'ah ditolak</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
	 <p class="arab" align="center"> عَنْ أُمِّ الْمُؤْمِنِيْنَ أُمِّ عَبْدِ اللهِ عَائِشَةَ رَضِيَ اللهُ عَنْهَا قَالَتْ : قَالَ رَسُوْلُ الله صلى الله عليه وسلم : مَنْ أَحْدَثَ فِي أَمْرِنَا هَذَا مَا لَيْسَ مِنْهُ فَهُوَ رَدٌّ. [رواه البخاري ومسلم وفي رواية لمسلم : مَنْ عَمِلَ عَمَلاً لَيْسَ عَلَيْهِ أَمْرُنَا فَهُوَ رَدٌّ ]
 </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify">Dari Ummul Mu’minin; Ummu Abdillah; Aisyah radhiallahuanha dia berkata : Rasulullah Shallallahu’alaihi wasallam bersabda : Siapa yang mengada-ada dalam urusan (agama) kami ini yang bukan (berasal) darinya *), maka dia tertolak. (Riwayat Bukhori dan Muslim), dalam riwayat Muslim disebutkan: siapa yang melakukan suatu perbuatan (ibadah) yang bukan urusan (agama) kami, maka dia tertolak.</p>
<hr><p> *) Yang dimaksud adalah, perbuatan-perbuatan yang dinilai ibadah tetapi tidak bersumber dari  ajaran  Islam  dan  tidak  memiliki  landasan  yang jelas,  atau  yang  lebih  dikenal dengan istilah bid’ah. </p>
 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
	 <p> 1. Setiap perbuatan ibadah yang tidak bersandar pada dalil syar’i ditolak dari pelakunya<br><br>

2. Larangan  dari  perbuatan  bid’ah  yang  buruk berdasarkan syari’at. <br><br> 

3. Islam  adalah  agama  yang  berdasarkan ittiba’(mengikuti   berdasarkan   dalil)   bukan ibtida’(mengada-adakan   sesuatu   tanpa   dalil)   dan Rasulullah 
shallallahu`alaihi  wa  sallam telah berusaha  menjaganya  dari  sikap  yang  berlebih-lebihan dan mengada-ada. <br><br> 

4. Agama  Islam  adalah  agama  yang  sempurna  tidak ada kurangnya.  </p>

  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>