<ion-view view-title="HADITS Ke-14">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Larangan Berzina, Membunuh, dan Murtad</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>

  <p class="arab" align="center"> عَنِ ابْنِ مَسْعُوْدٍ رَضِيَ اللهُ عَنْهُ قَالَ: قَالَ رَسُوْلُ اللهِ صلى الله عليه وسلم : لاَ يَحِلُّ دَمُ امْرِئٍ مُسْلِمٍ يَشْهَدُ أَنْ لاَ إِلَهَ إِلاَّ اللهُ وَأَنِّي رَسُوْلُ اللهِ إِلاَّ بِإِحْدَى ثَلاَثٍ : الثَّيِّبُ الزَّانِي، وَالنَّفْسُ بِالنَّفْسِ وَالتَّارِكُ لِدِيْنِهِ الْمُفَارِقُ لِلْجَمَاعَةِ

[رواه البخاري ومسلم]
 </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify"> Dari Ibnu Mas’ud radiallahuanhu dia berkata : Rasulullah Shallallahu’alaihi wasallam bersabda : Tidak halal darah seorang muslim yang bersaksi bahwa tidak ada Ilah selain Allah dan bahwa saya (Rasulullah Shallallahu’alaihi wasallam) adalah utusan Allah kecuali dengan tiga sebab : Orang tua yang berzina, membunuh orang lain (dengan sengaja), dan meninggalkan agamanya berpisah dari jamaahnya.
(Riwayat Bukhori dan Muslim) </p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
<p align="justify">1.
Tidak  boleh  menumpahkan  darah  kaum  muslimin 
kecuali  dengan  tiga  sebab,  yaitu:  zina 
muhshon
(orang yang sudah menikah), membunuh manusia 
dengan  sengaja  dan  meninggalkan  agamanya 
(murtad) berpisah dari jamaah kaum muslimin. <br><br> 
2.
Islam  sangat  menjaga  kehormatan,  nyawa  dan 
agama dengan menjatuhkan hukuman mati kepada 
mereka  yang  mengganggunya  seperti  dengan 
melakukan zina, pembunuhan dan murtad.  <br><br>
3.
Sesungguhnya agama yang disepakati adalah yang 
dipegang oleh jamaah kaum muslimin, maka wajib 
dijaga dan tidak boleh keluar darinya.  <br><br>
4.
Hukum  pidana  dalam  Islam  sangat  keras,  hal  itu 
bertujuan   untuk   mencegah   (preventif)   dan 
melindungi.  <br><br>
5.
Pendidikan  bagi  masyarakat  untuk  takut  kepada 
Allah  ta’ala  dan  selalu  merasa  terawasi  oleh-Nya 
dalam keadaan tersembunyi atau terbuka sebelum 
dilaksanakannya hukuman. <br><br>
6.
Hadits  di  atas  menunjukkan  pentingnya  menjaga 
kehormatan dan kesucian.  <br><br>
7.
Dalam  hadits  tersebut  merupakan  ancaman  bagi 
siapa  yang  membunuh  manusia  yang  diharamkan 
oleh Allah ta’ala. </p>
  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>