<ion-view view-title="HADITS Ke-4">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Takdir Manusia Telah ditetapkan</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center"> عَنْ أَبِي عَبْدِ الرَّحْمَنِ عَبْدِ اللهِ بنِ مَسْعُوْدٍ رَضِيَ اللهُ عَنْهُ قَالَ : حَدَّثَنَا رَسُوْلُ اللهِ صلى الله عليه وسلم وَهُوَ الصَّادِقُ الْمَصْدُوْقُ : إِنَّ أَحَدَكُمْ يُجْمَعُ خَلْقُهُ فِي بَطْنِ أُمِّهِ أَرْبَعِيْنَ يَوْماً نُطْفَةً، ثُمَّ يَكُوْنُ عَلَقَةً مِثْلَ ذَلِكَ، ثُمَّ يَكُوْنُ مُضْغَةً مِثْلَ ذَلِكَ، ثُمَّ يُرْسَلُ إِلَيْهِ الْمَلَكُ فَيَنْفُخُ فِيْهِ الرُّوْحَ، وَيُؤْمَرُ بِأَرْبَعِ كَلِمَاتٍ: بِكَتْبِ رِزْقِهِ وَأَجَلِهِ وَعَمَلِهِ وَشَقِيٌّ أَوْ سَعِيْدٌ. فَوَ اللهِ الَّذِي لاَ إِلَهَ غَيْرُهُ إِنَّ أَحَدَكُمْ لَيَعْمَلُ بِعَمَلِ أَهْلِ الْجَنَّةِ حَتَّى مَا يَكُوْنُ بَيْنَهُ وَبَيْنَهَا إِلاَّ ذِرَاعٌ فَيَسْبِقُ عَلَيْهِ الْكِتَابُ فَيَعْمَلُ بِعَمَلِ أَهْلِ النَّارِ فَيَدْخُلُهَا، وَإِنَّ أَحَدَكُمْ لَيَعْمَلُ بِعَمَلِ أَهْلِ النَّارِ حَتَّى مَا يَكُوْنُ بَيْنَهُ وَبَيْنَهَا إِلاَّ ذِرَاعٌ فَيَسْبِقُ عَلَيْهِ الْكِتَابُ فَيَعْمَلُ بِعَمَلِ أَهْلِ الْجَنَّةِ فَيَدْخُلُهَا

[رواه البخاري ومسلم] </p><br>
  
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p>Dari  Abu  Abdurrahman  Abdullah  bin  Mas’ud radiallahuanhu beliau berkata: <br><br>Rasulullah shallallahu`alaihi wa sallam menyampaikan kepada kami dan beliau adalah  orang yang benar dan dibenarkan:<br><br> 
" Sesungguhnya  setiap  kalian  dikumpulkan penciptaannya  di  perut  ibunya  sebagai  setetes  mani selama  empat  puluh  hari,  kemudian  berubah  menjadi setetes  darah  selama  empat  puluh  hari,  kemudian menjadi  segumpal  daging  selama  empat  puluh  hari. 
Kemudian  diutus  kepadanya  seorang  malaikat  lalu ditiupkan  padanya  ruh  dan  dia  diperintahkan  untuk menetapkan  empat  perkara:  menetapkan  rizkinya, ajalnya,  amalnya  dan  celaka  atau  bahagianya.  
	  <br><br>Demi Allah yang tidak ada ilah selain-Nya, sesungguhnya diantara  kalian  ada  yang  melakukan  perbuatan  ahli 
syurga hingga jarak antara dirinya dan syurga tinggal sehasta   akan   tetapi   telah   ditetapkan   baginya ketentuan, dia melakukan perbuatan ahli neraka maka masuklah  dia  ke  dalam  neraka.  Sesungguhnya  diantara  kalian  ada  yang  melakukan  perbuatan  ahli neraka hingga jarak antara dirinya dan neraka tinggal sehasta   akan   tetapi   telah   ditetapkan   baginya ketentuan, dia melakukan perbuatan ahli syurga maka masuklah dia ke dalam syurga."
(HR  Bukhari  dan Muslim).
    
 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
	 <p>
1. Allah ta’ala mengetahui tentang keadaan makhluk-Nya sebelum mereka diciptakan dan apa yang akan mereka  alami,  termasuk  masalah  bahagia  dan celaka.<br><br> 
2. Tidak  mungkin  bagi  manusia  di  dunia  ini  untuk memutuskan  bahwa  dirinya  masuk  syurga  atau neraka,  akan  tetapi  amal  perbuatan  merupakan sebab untuk memasuki keduanya<br><br>
3. Amal   perbuatan   dinilai   di   akhirnya.   Maka hendaklah   manusia   tidak   terpedaya   dengan kondisinya  saat  ini,  justru  harus  selalu  mohon 
kepada Allah agar diberi keteguhan dan akhir yang baik (husnul khotimah)<br><br>
4. Disunnahkan  bersumpah  untuk  mendatangkan kemantapan sebuah perkara dalam jiwa<br><br>
5. Tenang   dalam   masalah   rizki   dan   qanaah(menerima)  dengan  mengambil  sebab-sebab  serta tidak terlalu mengejar-ngejarnya dan mencurahkan hati karenanya. <br><br> 
6. Kehidupan  ada  di  Tangan  Allah.  Seseorang  tidak akan  mati  kecuali  dia  telah  menyempurnakan umurnya. <br><br> 
		 7. Sebagian  ulama  dan  orang  bijak  berkata  bahwa dijadikannya  pertumbuhan  janin  manusia  dalam kandungan secara berangsur-angsur adalah sebagai rasa  belas  kasih  terhadap  ibu.  Karena sesungguhnya  Allah   mampu   menciptakannya sekaligus. </p>

  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>