<ion-view view-title="HADITS Ke-16">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Jangan Mudah Marah</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
 
  <p class="arab" align="center"> عَنْ أَبِي هُرَيْرَةَ رَضِيَ اللهُ عَنْهُ أَنَّ رَجُلاً قَالَ لِلنَّبِيِّ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ: أَوْصِنِي، قَالَ : لاَ تَغْضَبْ فَرَدَّدَ مِرَاراً، قَالَ: لاَ تَغْضَبْ

[رواه البخاري] </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify"> Dari Abu Hurairah radhiallahuanhu sesungguhnya seseorang bertanya kepada Rasulullah sholallohu ‘alaihi wa sallam : (Ya Rasulullah) nasihatilah saya. Beliau bersabda : Jangan kamu marah. Beliau menanyakan hal itu berkali-kali. Maka beliau bersabda : Jangan engkau marah.
(Riwayat Bukhori ) </p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
<p align="justify"> 1.
Anjuran  bagi  setiap  muslim  untuk  memberikan 
nasihat   dan   mengenal   perbuatan-perbuatan 
kebajikan,   menambah   wawasan   ilmu   yang 
bermanfaat serta memberikan nasihat yang baik. <br><br> 
2.
Larangan marah.  <br><br> 
3.
Dianjurkan untuk mengulangi pembicaraan hingga 
pendengar     menyadari     pentingnya     dan 
kedudukannya.   </p>
  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>