<ion-view view-title="HADITS Ke-17">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Berbuat Baik Dalam Segala Urusan</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  
	 <p class="arab" align="center"> عَنْ أَبِي يَعْلَى شَدَّاد ابْنِ أَوْسٍ رَضِيَ اللهُ عَنْهُ عَنْ رَسُوْلِ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ قَالَ : إِنَّ اللهَ كَتَبَ اْلإِحْسَانَ عَلَى كُلِّ شَيْءٍ، فَإِذَا قَتَلْتُمْ فَأَحْسِنُوا الْقِتْلَةَ وَإِذَا ذَبَحْتُمْ فَأَحْسِنُوا الذِّبْحَةَ وَلْيُحِدَّ أَحَدُكُمْ شَفْرَتَهُ وَلْيُرِحْ ذَبِيْحَتَهُ . [رواه مسلم] </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify">Dari Abu Ya’la Syaddad bin Aus radhiallahuanhu dari Rasulullah shollallohu ‘alaihi wa sallam bersabda : Sesungguhnya Allah telah menetapkan perbuatan baik (ihsan) atas segala sesuatu . Jika kalian membunuh maka berlakulah baik dalam hal tersebut. Jika kalian menyembelih berlakulah baik dalam hal itu, hendaklah kalian mengasah pisaunya dan menyenangkan hewan sembelihannya.
(Riwayat Muslim)</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
<p align="justify">1.
Syariat  Islam  menuntut  perbuatan  ihsan  kepada 
setiap  makhluk  termasuk  di  antaranya  adalah 
hewan.  <br><br>
2.
Tidak boleh menyiksa dan merusak tubuh sebagai 
sasaran  dan  tujuan,  tidak  juga  boleh  menyayat-
nyayat orang yang dihukum qishash. <br><br> 
3.
Termasuk  ihsan  juga  adalah  terhadap  hewan 
ternak  dan  belas  kasih  terhadapnya.  Tidak  boleh 
membebaninya  diluar  kemampuannya  serta  tidak 
menyiksanya saat menyembelihnya.  </p>
  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>