<ion-view view-title="HADITS Ke-20">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Anjuran Memiliki Rasa Malu</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center">عَنْ أَبِي مَسْعُوْدٍ عُقْبَةَ بِنْ عَمْرٍو الأَنْصَارِي الْبَدْرِي رَضِيَ الله عَنْهُ قَالَ : قَالَ رَسُوْلُ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ : إِنَّ مِمَّا أَدْرَكَ النَّاسُ مِنْ كَلاَمِ النُّبُوَّةِ الأُوْلَى، إِذَا لَمْ تَسْتَحِ فَاصْنَعْ مَا شِئْتَ

[رواه البخاري ]
 
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify">Dari Abu Mas’ud Uqbah bin Amr Al Anshary Al Badry radhiallahuanhu dia berkata: Rasulullah shollallohu ‘alaihi wa sallam bersabda : Sesungguhnya ungkapan yang telah dikenal orang-orang dari ucapan nabi-nabi terdahulu adalah : Jika engkau tidak malu perbuatlah apa yang engkau suka
(Riwayat Bukhori)</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
	<p align="justify">1.
Malu  merupakan  tema  yang  telah  disepakati  oleh 
para nabi dan tidak terhapus ajarannya. <br><br> 
2.
Jika  seseorang  telah  meninggalkan  rasa  malu, 
maka   jangan   harap  lagi   (kebaikan)   darinya 
sedikitpun.  <br><br>
3.
Malu merupakan landasan akhlak mulia dan selalu 
bermuara  kepada  kebaikan.  Siapa  yang  banyak 
malunya lebih banyak kebaikannya, dan siapa yang 
sedikit rasa malunya semakin sedikit kebaikannya. <br><br> 
4.
Rasa malu merupakan prilaku dan dapat dibentuk. 
Maka  setiap  orang  yang  memiliki  tanggung  jawab 
hendaknya  memperhatikan  bimbingan  terhadap 
mereka yang menjadi tanggung jawabnya.  <br><br>
5.
Tidak  ada  rasa  malu  dalam  mengajarkan  hukum-
hukum agama serta menuntut ilmu dan kebenaran. 
Allah ta’ala  berfirman: 
“ Dan Allah tidak malu dari 
kebenaran “
 (33 : 53).  <br><br>
6.
Di antara manfaat rasa malu adalah 
‘Iffah
 (menjaga 
diri  dari  perbuatan  tercela)  dan 
Wafa’
  (menepati 
janji).<br><br> 
7.
Rasa  malu  merupakan  cabang  iman  yang  wajib 
diwujudkan.  </p>

  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>