<ion-view view-title="HADITS Ke-15">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Berkata Baik atau Diam dan Memuliakan Tamu</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  
	 <p class="arab" align="center"> عَنْ أَبِي هُرَيْرَةَ رَضِيَ اللهُ عَنْهُ أَنَّ رَسُوْلَ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ قَالَ : مَنْ كَانَ يُؤْمِنُ بِاللهِ وَالْيَوْمِ الآخِرِ فَلْيَقُلْ خَيْراً أًوْ لِيَصْمُتْ، وَمَنْ كَانَ يُؤْمِنُ بِاللهِ وَاْليَوْمِ الآخِرِ فَلْيُكْرِمْ جَارَهُ، وَمَنْ كَانَ يُؤْمِنُ بِاللهِ وَالْيَوْمِ الآخِرِ فَلْيُكْرِمْ ضَيْفَهُ

[رواه البخاري ومسلم] </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify">Dari Abu Hurairah radhiallahuanhu, sesungguhnya Rasulullah Shallallahu’alaihi wasallam bersabda: Siapa yang beriman kepada Allah dan hari akhir hendaklah dia berkata baik atau diam, siapa yang beriman kepada Allah dan hari akhir hendaklah dia menghormati tetangganya dan barangsiapa yang beriman kepada Allah dan hari akhir maka hendaklah dia memuliakan tamunya
(Riwayat Bukhori dan Muslim)</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
<p align="justify"> 1.
Iman terkait langsung dengan kehidupan sehari-
hari.<br><br>  
2.
Islam  menyerukan  kepada  sesuatu  yang  dapat 
menumbuhkan  rasa  cinta  dan  kasih  sayang 
dikalangan individu masyarakat muslim. <br><br>
3.
Termasuk  kesempurnaan  iman  adalah  perkataan 
yang baik dan diam dari selainnya. <br><br>
4.
Berlebih-lebihan   dalam   pembicaraan   dapat 
menyebabkan  kehancuran,  sedangkan  menjaga 
pembicaraan merupakan jalan keselamatan. <br><br> 
5.
Islam  sangat  menjaga  agar  seorang  muslim 
berbicara  apa  yang  bermanfaat  dan  mencegah 
perkataan yang diharamkan dalam setiap kondisi.  <br><br>
6.
Tidak    memperbanyak    pembicaraan    yang 
diperbolehkan, karena hal tersebut dapat menyeret 
kepada  perbuatan  yang  diharamkan  atau  yang 
makruh.  <br><br>
7.
Termasuk     kesempurnaan     iman     adalah 
menghormati  tetangga  dan  memperhatikan  serta 
tidak menyakitinya.  <br><br>
8.
Wajib  berbicara  saat  dibutuhkan,  khususnya  jika 
bertujuan  menerangkan  yang  haq  dan  beramar 
ma’ruf nahi munkar.  <br><br>
9.
Memuliakan  tamu  termasuk  di  antara  kemuliaan 
akhlak dan pertanda komitmennya terhadap syariat 
Islam.  <br><br>
10.
Anjuran  untuk  mempergauli  orang  lain  dengan 
baik.  </p>
  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>