<ion-view view-title="HADITS Ke-13">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Mencintai Milik Saudaranya Seperti Ia Mencintai Milik Sendiri</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
 
  <p class="arab" align="center">  عَنْ أَبِي حَمْزَةَ أَنَسْ بْنِ مَالِكٍ رَضِيَ اللهُ عَنْهُ، خَادِمُ رَسُوْلِ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ عَنِ النَّبِيِّ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ قَالَ : لاَ يُؤْمِنُ أَحَدُكُمْ حَتَّى يُحِبَّ لأَخِيْهِ مَا يُحِبُّ لِنَفْسِه

[رواه البخاري ومسلم] </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify">Dari Abu Hamzah, Anas bin Malik radiallahuanhu, pembantu Rasulullah Shallallahu’alaihi wasallam dari Rasulullah Shallallahu’alaihi wasallam, beliau bersabda: Tidak beriman salah seorang diantara kamu hingga dia mencintai saudaranya sebagaimana dia mencintai dirinya sendiri.
	  (Riwayat Bukhori dan Muslim)</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
<p align="justify">1.
Seorang  mu’min  dengan  mu’min  yang  lainnya 
bagaikan satu jiwa, jika dia mencintai saudaranya 
maka seakan-akan dia mencintai dirinya sendiri.<br><br>  
2.
Menjauhkan  perbuatan  hasad  (dengki)  dan  bahwa 
hal  tersebut  bertentangan  dengan  kesempurnaan 
iman.  <br><br>
3.
Iman dapat bertambah dan berkurang, bertambah 
dengan   ketaatan   dan   berkurang   dengan 
kemaksiatan.<br><br>  
4.
Anjuran untuk menyatukan hati.  </p>

  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>