<ion-view view-title="HADITS Ke-3">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Rukun Islam dan Faktor Fundamental Lainnya</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center">عَنْ أَبِي عَبْدِ الرَّحْمَنِ عَبْدِ اللهِ بْنِ عُمَرَ بْنِ الْخَطَّابِ رَضِيَ اللهُ عَنْهُمَا قَالَ : سَمِعْتُ رَسُوْلَ اللهِ صلى الله وسلم يَقُوْلُ : بُنِيَ اْلإِسْلاَمُ عَلَى خَمْسٍ : شَهَادَةُ أَنْ لاَ إِلَهَ إِلاَّ اللهُ وَأَنَّ مُحَمَّداً رَسُوْلُ اللهِ وَإِقَامُ الصَّلاَةِ وَإِيْتَاءُ الزَّكَاةِ وَحَجُّ الْبَيْتِ وَصَوْمُ رَمَضَانَ
[رواه الترمذي ومسلم]

  </p><br>
  <p class="arab" align="center"> رواه إماما المحدثين أبو عبد الله محمد بن إسماعيل بن إبراهيم بن المغيرة بن بردزبة البخاري وأبو الحسين مسلم بن الحجاج بن مسلم القشيري النيسابوري في صحيحيهما اللذين هما أصح الكتب المصنفة </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p>Dari Amirul Mu’minin, Abi Hafs Umar bin Al Khattab radhiallahuanhu,  dia   berkata,   "Saya   mendengar Rasulullah   shallahu`alaihi   wa   sallam   bersabda: 
    Sesungguhnya  setiap  perbuatan (1) tergantung  niatnya (2).Dan  sesungguhnya  setiap  orang  (akan  dibalas) berdasarkan apa yang dia niatkan. Siapa yang hijrahnya 3) karena (ingin mendapatkan keridhaan) Allah dan Rasul-Nya, maka hijrahnya kepada (keridhaan) Allah dan Rasul-Nya. Dan siapa yang hijrahnya karena menginginkan kehidupan yang layak di dunia atau karena wanita yang ingin dinikahinya maka hijrahnya (akan bernilai sebagaimana) yang dia niatkan<br><br>(Riwayat dua imam hadits, Abu Abdullah Muhammad bin Isma’il bin Ibrahim bin Al Mughirah bin Bardizbah Al Bukhari dan Abu Al Husain, Muslim bin Al Hajjaj bin Muslim Al Qusyairi An Naisaaburi di dalam dua kitab Shahih, yang merupakan kitab yang paling shahih yang pernah dikarang)
    <hr><font size="2">
    (1)Yang dimaksud perbuatan di sini adalah amal ibadah yang membutuhkan niat.<br>2. Niat adalah keinginan dan kehendak hati<br>3. Makna  kata  "Hijrah"  secara  bahasa:  meninggalkan, sedangkan  menurut  syariat  artinya: meninggalkan negeri kafir menuju negeri Islam dengan maksud bisa melakukan ajaran agamanya  dengan  tenang.  Yang  dimaksud  dalam  hadits ini  adalah  perpindahan  dari Mekkah ke Madinah sebelum Fathu Makkah(Penaklukan kota Mekkah th. 8 H).</font> </p>
  <p><b><font color="blue" size="4">Catatan:</font></b></p>
  <p>1. Hadits ini merupakan salah satu dari hadits-hadits yang menjadi  inti  ajaran  Islam.  Imam  Ahmad  dan Imam Syafi’i berkata: Dalam hadits tentang niat ini 
mencakup sepertiga ilmu. Sebabnya adalah bahwa perbuatan hamba terdiri dari perbuatan hati, lisan dan  anggota  badan,  sedangkan  niat  merupakan 
salah  satu  bagian  dari  ketiga  unsur  tersebut. Diriwayatkan dari Imam Syafi’i bahwa dia berkata," Hadits ini mencakup tujuh puluh bab dalam fiqh. Sejumlah ulama bahkan ada yang berkata," Hadits ini merupakan sepertiga Islam. 
<br><br>2. Sebab  dituturkannya  hadits  ini,  yaitu:  ada seseorang  yang  hijrah  dari  Mekkah  ke  Madinah dengan  tujuan  untuk  dapat  menikahi  seorang 
wanita  yang  konon  bernama: “Ummu Qais” bukan untuk  meraih  pahala  berhijrah.  Maka  orang  itu kemudian  dikenal  dengan  sebutan “Muhajir  Ummi Qais”
 (Orang yang hijrah karena Ummu Qais).</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>

  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>