<ion-view view-title="HADITS Ke-18">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Kebaikan Menghapus Kesalahan</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
 
	 <p class="arab" align="center"> عَنْ أَبِي ذَرّ جُنْدُبْ بْنِ جُنَادَةَ وَأَبِي عَبْدِ الرَّحْمَنِ مُعَاذ بْن جَبَلٍ رَضِيَ اللهُ عَنْهُمَا عَنْ رَسُوْلِ اللهِ صلَّى اللهُ عَلَيْهِ وَسَلَّمَ قَالَ : اِتَّقِ اللهَ حَيْثُمَا كُنْتَ، وَأَتْبِعِ السَّيِّئَةَ الْحَسَنَةَ تَمْحُهَا، وَخَالِقِ النَّاسَ بِخُلُقٍ حَسَنٍ “

[رواه الترمذي وقال حديث حسن وفي بعض النسخ حسن صحيح] </p>
  <br />
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify">Dari Abu Zar, Jundub bin Junadah dan Abu Abdurrahman, Mu’az bin Jabal radhiallahuanhuma dari Rasulullah Shallallahu’alaihi wasallam beliau bersabda : Bertakwalah kepada Allah dimana saja kamu berada, iringilah keburukan dengan kebaikan niscaya menghapusnya dan pergauilah manusia dengan akhlak yang baik “
(Riwayat Turmuzi, dia berkata haditsnya hasan, pada sebagian cetakan dikatakan hasan shahih)</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
<p align="justify"> 1.
Takwa  kepada  Allah  merupakan  kewajiban  setiap 
muslim dan dia merupakan asas diterimanya amal 
shaleh. <br><br> 
2.
Bersegera  melakukan  ketaatan  setelah  keburukan 
secara langsung, karena kebaikan akan menghapus 
keburukan.  <br><br> 
3.
Bersungguh-sungguh menghias diri dengan akhlak 
mulia. <br><br> 
4.
Menjaga  pergaulan  yang  baik  merupakan  kunci 
kesuksesan, kebahagiaan dan ketenangan di dunia 
dan  akhirat.  Hal  tersebut  dapat  menghilangkan 
dampak negatif pergaulan.   </p>
  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>