<ion-view view-title="HADITS Ke-7">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Agama Adalah Nasihat</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center">
  عَنْ أَبِي رُقَيَّةَ تَمِيْم الدَّارِي رَضِيَ اللهُ عَنْهُ أَنَّ النَّبِيَّ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ قَالَ : الدِّيْنُ النَّصِيْحَةُ . قُلْنَا لِمَنْ ؟ قَالَ : لِلَّهِ وَلِكِتَابِهِ وَلِرَسُوْلِهِ وَلأَئِمَّةِ الْمُسْلِمِيْنَ وَعَامَّتِهِمْ .

	  [رواه البخاري ومسلم] </p><br>
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify">Dari Abu Ruqoyah Tamim Ad Daari radhiallahuanhu, sesungguhnya Rasulullah Shallallahu’alaihi wasallam bersabda : Agama adalah nasehat, kami berkata : Kepada siapa ? beliau bersabda : Kepada Allah, kitab-Nya, Rasul-Nya dan kepada pemimpan kaum muslimin dan rakyatnya.(HR. Bukhori dan Muslim)</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
<p> 1. Agama  Islam  berdiri  tegak  di  atas  upaya  saling 
menasihati, maka harus selalu saling menasihati di 
antara masing-masing individu muslim<br><br>

2. Nasihat wajib dilakukan sesuai kemampuan
<hr>
*) Nasehat  adalah:  ungkapan  yang  menyeluruh  berupa 
keinginan  yang  mencakup  semua 
kebaikan. <br><br>
**) Yang dimaksud adalah bahwa nasehat merupakan pen
opang agama.  <br><br>

***) Yang   dimaksud   dengan   nasehat   kepada   Allah   adalah 
beriman   kepada-Nya,   tidak 
menyekutukan-Nya, mensucikannya dari segala kekuran
gan, ta’at kepada-Nya dan tidak 
bermaksiat  kepada-Nya.  Nasehat  kepada  Rasul-Nya  ada
lah  membenarkan  risalahnya, 
beriman  kepada  semua  yang  dibawanya,  menghormatinya
,  melaksanakannya  ajarannya 
dll. </p>

  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>