<ion-view view-title="HADITS Ke-6">
 <ion-content class="padding">
  <p align="center"><img src="img/1.png"></p>
  <p align="center"><b>Tentang Niat dan Ikhlas</b> </p>
  <p align="center"><img src="img/1.png"></p>
  <br>
  <p class="arab" align="center"> عَنْ أَبِي عَبْدِ اللهِ النُّعْمَانِ بْنِ بَشِيْرٍ رَضِيَ اللهُ عَنْهُمَا قَالَ سَمِعْتُ رَسُوْلَ اللهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ يَقُوْلُ : إِنَّ الْحَلاَلَ بَيِّنٌ وَإِنَّ الْحَرَامَ بَيِّنٌ وَبَيْنَهُمَا أُمُوْرٌ مُشْتَبِهَاتٌ لاَ يَعْلَمُهُنَّ كَثِيْرٌ مِنَ النَّاسِ، فَمَنِ اتَّقَى الشُّبُهَاتِ فَقَدْ اسْتَبْرَأَ لِدِيْنِهِ وَعِرْضِهِ، وَمَنْ وَقَعَ فِي الشُّبُهَاتِ وَقَعَ فِي الْحَرَامِ، كَالرَّاعِي يَرْعىَ حَوْلَ الْحِمَى يُوْشِكُ أَنْ يَرْتَعَ فِيْهِ، أَلاَ وَإِنَّ لِكُلِّ مَلِكٍ حِمًى أَلاَ وَإِنَّ حِمَى اللهِ مَحَارِمُهُ أَلاَ وَإِنَّ فِي الْجَسَدِ مُضْغَةً إِذَا صَلَحَتْ صَلَحَ الْجَسَدُ كُلُّهُ وَإِذَا فَسَدَتْ فَسَدَ الْجَسَدُ كُلُّهُ أَلاَ وَهِيَ الْقَلْبُ

[رواه البخاري ومسلم]
  </p><br>
  
  <p><b><font color="blue" size="4">Arti Hadits:</font></b></p>
  <p align="justify">Dari Abu Abdillah Nu’man bin Basyir radhiallahuanhu dia berkata: Saya mendengar Rasulullah Shallallahu’alaihi wasallam bersabda: Sesungguhnya yang halal itu jelas dan yang haram itu jelas. Di antara keduanya terdapat perkara-perkara yang syubhat (samar-samar) yang tidak diketahui oleh orang banyak. Maka siapa yang takut terhadap syubhat berarti dia telah menyelamatkan agama dan kehormatannya. Dan siapa yang terjerumus dalam perkara syubhat, maka akan terjerumus dalam perkara yang diharamkan. Sebagaimana penggembala yang menggembalakan hewan gembalaannya disekitar (ladang) yang dilarang untuk memasukinya, maka lambat laun dia akan memasukinya. Ketahuilah bahwa setiap raja memiliki larangan dan larangan Allah adalah apa yang Dia haramkan. Ketahuilah bahwa dalam diri ini terdapat segumpal daging, jika dia baik maka baiklah seluruh tubuh ini dan jika dia buruk, maka buruklah seluruh tubuh; ketahuilah bahwa dia adalah hati “.
(Riwayat Bukhori dan Muslim)</p>
  
<p><b><font color="blue" size="4">Catatan:</font></b></p>
  <p>Hadits  ini  merupakan  salah  satu  landasan pokok dalam syari’at. Abu Daud berkata: Islam itu  berkisar  pada  empat  hadits,  kemudian  dia menyebutkan hadits ini salah satunya.</p>

 <p><b><font color="blue" size="4">Kandungan Hadits:</font></b></p>
<p> 1. Termasuk sikap wara’ *)  adalah  meninggalkan syubhat. <br><br>
2. Banyak  melakukan  syubhat  akan  mengantarkan seseorang kepada perbuatan haram <br><br>
3. Menjauhkan  perbuatan  dosa  kecil  karena  hal 
tersebut   dapat   menyeret   seseorang   kepada 
perbuatan dosa besar. <br><br>

4. Memberikan  perhatian  terhadap  masalah  hati, 
karena padanya terdapat kebaikan fisik. <br><br> 

5. Baiknya amal perbuatan anggota badan merupakan 
pertanda baiknya hati.  <br><br>

6. Pertanda    ketakwaan    seseorang    jika    dia 
meninggalkan perkara-perkara yang diperbolehkan 
karena  khawatir  akan  terjerumus  kepada  hal-hal 
yang diharamkan. <br><br> 

7. Menutup    pintu    terhadap    peluang-peluang 
perbuatan haram serta haramnya sarana dan cara 
kearah sana. <br><br> 

8. Hati-hati  dalam  masalah  agama  dan  kehormatan 
serta  tidak  melakukan  perbuatan-perbuatan  yang 
dapat mendatangkan persangkaan buruk.<br><br>
<hr><br> *) Wara’ adalah sikap yang timbul dari rasa takutnya seseorang terhadap perbuatan haram.</p>
  <p align="center"><img src="img/1.png"></p>
 </ion-content>
</ion-view>